@import 'utility';
@import 'herosection';
@import 'services';
@import 'about';
@import 'posts';
@import 'contact';
@import 'footer';

:root { 
    --mulish: 'Mulish', sans-serif;
    --primary-color: #232323;
    --secondary-color: #606060;
    --btn-bg-color: #FF6400;
}

*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.16px;
    box-sizing: border-box;
}

body{
    font-family: var(--mulish);
    color: var(--primary-color);
}
.hero-section{
    min-height: 800px;
    background-color: #E7F1F2;
    position: relative;
}
.header-text{
    font-weight: 700;
    font-size: 47px;
    line-height: 59px;
}